{% extends 'base.html' %}

{% block content %}

     <form method="POST">
      {% csrf_token %}
  <div class="mb-3 mt-3">
    <label for="title" class="form-label">Заголовок:</label>
    <input type="text" name="title" class="form-control" id="title" placeholder="Заговолок">
  </div>

  <div class="mb-3 mt-3">
    <label for="salary" class="form-label">Желаемая зарплата:</label>
    <input type="number" name="salary" class="form-control" id="salary" placeholder="Укажите сумму">
  </div>

  <div class="mb-3 mt-3">
    <label for="description" class="form-label">Описание:</label>
    <textarea name="description" cols="20" id="description" class="form-control" rows="5" placeholder="Описание">
    </textarea>

  <div class="mb-3 mt-3">
    <label for="email" class="form-label">Почта:</label>
    <input type="email" class="form-control" id="email" placeholder="Укажите эл.почту" name="email">
  </div>

  <div class="mb-3 mt-3">
    <label for="contacts" class="form-label">Контакты:</label>
    <input type="number" name="contacts" class="form-control" id="contacts" placeholder="Контакты">
  </div>


  <button type="submit" class="btn btn-primary">Добавить</button>
    </form>

{% endblock %}