{% extends 'base.html' %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <div class="mb-3 mt-3">
            <label for="title" class="form-label">Заголовок:</label>
            <input type="text" name="title" class="form-control" id="title" placeholder="Заговолок">
        </div>

        <div class="mb-3 mt-3">
            <label for="salary" class="form-label">Зарплата:</label>
            <input type="number" name="salary" class="form-control" id="salary" placeholder="Зарплата">
        </div>

        <div class="mb-3 mt-3">
            <label for="description" class="form-label">Описание:</label>
            <textarea name="description" class="form-control" id="description" placeholder="Описание">
            </textarea>

        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Почта:</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Почта">
        </div>

        <div class="mb-3 mt-3">
            <label for="contacts" class="form-label">Контакты:</label>
            <input type="text" name="contacts" class="form-control" id="contacts" placeholder="Контакты">
        </div>

    </form>

{% endblock %}