<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Поиск работы и работников</h1>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aperiam asperiores atque commodi corporis cum cumque cupiditate, delectus dolorem dolores doloribus enim error fugiat impedit inventore ipsa laboriosam magni natus, nemo neque nesciunt nostrum numquam odio placeat quaerat quam qui quibusdam repellat repudiandae sed tenetur, totam vero. Aspernatur at atque autem blanditiis consequatur, cumque doloribus dolorum eaque, fugiat fugit ipsam porro possimus quis ratione reiciendis sit voluptate voluptatem, voluptates.
    </div>
</body>
</html>